.inspect-bucket-link {
  display: inline-block;
  padding: 20px;
  background-color: rgb(93, 161, 93);
  text-align: center;
  border-radius: 100%;
  cursor: zoom-in;
}

.inspect-bucket-link:hover {
  opacity: 0.5;
  transform: scale(1.2);
  transition-duration: 0.7s
}

div[class^=stale-requests-] {
  color: white;
  display: block;
  margin: 40px 0;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(176, 25, 25);
}

div[class^=stale-requests] button {
  font-size: 40px;
}

.stale-requests-true {
  background-color: rgb(176, 25, 25);
}

div.stale-requests-false {
  background-color: rgba(109, 192, 92, 0.905);
}

div.stale-requests-false button {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

button.manual-request-retrieval {
  background: rgba(193, 183, 183, 0.738);
  border-radius: 5px;
  padding: 10px;
}

button.manual-request-retrieval:hover {
  background-color: rgba(109, 192, 92, 0.905);
  transform: scale(1.1);
  transition-duration: 0.5;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.scroll-item {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #3B3C3E;
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 10px 7px 5px;
}

div#event-scroll {
  height: 560px;
  overflow: scroll;
  overflow-x: hidden;
  cursor: zoom-in;
}

div[class^=raw-request-] {
  position: absolute;
  background-color: white;
  box-shadow: 0px 12px 12px 10px rgba(10, 10, 10, 20);
  border-radius: 15px;
  margin: 20px 0;
  padding: 10px 15px;
  overflow: scroll;
  overflow-Y: hidden;
  width: 92%
}

.raw-request-hide {
  display: none;
}

.raw-request-show {
  display: block;
}

div.bucket-scroll {
  height: 700px;
  overflow: scroll;
  overflow-X: hidden
}
